
@{
    ViewData["Title"] = "Home Page";
}

<div id="calendar"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Wydarzenie</h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Usuń
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edytuj
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Zapisz wydarzenie</h4>
            </div>
            <div class="modal-body">
                <form>
                    <!-- class="form-horizontal"-->
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="form-group">
                        <label>Temat</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Początek</label>
                        <div class="col-md-6 input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Wydarzenie trwa cały dzień </label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>Koniec</label>
                        <div class="col-md-6 input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Opis</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Kolor Motywu</label>
                        <select id="addThemeColor" class="form-control">
                            <option value="">Domyślny</option>
                            <option value="red">Czerwony</option>
                            <option value="blue">Niebieski</option>
                            <option value="black">Czarny</option>
                            <option value="green">Zielony</option>
                        </select>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success">Zapisz</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section head {
    <link href='~/css/fullcalendar.min.css' rel='stylesheet' />
    <link href='~/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css' rel='stylesheet' />

    <script src='~/js/moment.min.js'></script>
    <script src='~/js/fullcalendar.min.js'></script>
    <script src='~/js/pl.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script>
     $(document).ready(function () {

         var events = [];
         var selectedEvent = null;
         //var evs = [];
         @*var arr = @Html.Raw(Json.Serialize(ViewData["Evs"]));*@
         var isAdmin = false;
         CheckIfAdmin();
         FetchEventAndRenderCalendar();

         function FetchEventAndRenderCalendar() {
           //  var evs = [];
             @*var arr = @Html.Raw(Json.Serialize(ViewData["Evs"]));*@
             //arr.forEach(function (data) {
             //    evs.push({
             //        eventID: data.eventId,
             //        title: data.subject,
             //        description: data.description,
             //        start: moment(data.start),
             //        end: data.end != null ? moment(data.end) : null,
             //        color: data.themeColor,
             //        allDay: data.isFullDay
             //    });
             //});
             CheckIfAdmin();
             var events = [];
             $.ajax({
                 type: "GET",
                 url: '/home/GetRepairEvents',
                 success: function (data) {
                     $.each(data, function (i, v) {
                         events.push({
                             eventID: v.eventId,
                             title: v.subject,
                             description: v.description,
                             start: moment(v.start),
                             end: v.end != null ? moment(v.end) : null,
                             color: v.themeColor,
                             allDay: v.isFullDay
                         });
                     });
                     GenerateCalendar(events);
                 },
                 error: function (error) {
                     alert('failed');
                 }
             });
         }

         function GenerateCalendar(events) {
             $('#calendar').fullCalendar('destroy');
             $('#calendar').fullCalendar({
                 defaultDate: new Date(),
                 header: {
                     left: 'prev,next today',
                     center: 'title',
                     right: 'month,basicWeek,basicDay'
                 },
                 editable: true,
                 eventLimit: true, // allow "more" link when too many events
                 events: events,
                 eventClick: function (calEvent, jsEvent, view) {
                     selectedEvent = calEvent;
                     $('#myModel #eventTitle').text(calEvent.title);
                     var $description = $('<div/>');
                     $description.append($('<p/>').html('<b>Początek: </b>' + calEvent.start.format("DD-MM-YYYY HH:mm")));
                     if (calEvent.end != null) {
                         $description.append($('<p/>').html('<b>Koniec: </b>' + calEvent.end.format("DD-MM-YYYY HH:mm")));
                     }
                     $description.append($('<p/>').html('<b>Opis: </b>' + calEvent.description));
                     $('#myModal #pDetails').empty().html($description);

                     $('#myModal').modal();
                 },
                 selectable: isAdmin,
                 select: function (start, end) {
                     selectedEvent = {
                         eventId: 0,
                         title: '',
                         description: '',
                         start: start,
                         end: end,
                         allDay: false,
                         color: ''
                     };
                     openAddEditForm();
                     $('#calendar').fullCalendar('unselect');
                 },
                 editable: true,
                 eventDrop: function (event) {
                     var data = {
                         EventId: event.eventID,
                         Subject: event.title,
                         Start: event.start.format('DD/MM/YYYY HH:mm'),
                         End: event.end != null ? event.end.format('DD/MM/YYYY HH:mm') : null,
                         Description: event.description,
                         ThemeColor: event.color
                     };
                     SaveEvent(data);
                 }
             });
         }

         $('#btnEdit').click(function () {
             openAddEditForm();
         });

         $('#btnDelete').click(function () {
             console.log(selectedEvent.eventID);
             if (selectedEvent != null && confirm('Jesteś pewny?')) {
                 $.ajax({
                     type: "POST",
                     url: '/home/DeleteRepairEvent',
                     data: { id: selectedEvent.eventID },
                     success: function (result) {
                         if (result) {
                             FetchEventAndRenderCalendar();
                             $('#myModal').modal('hide');
                         }
                     },
                     error: function () {
                         alert('Failed');
                     }
                 });
             }
         });

         $('#dtp1,#dtp2').datetimepicker({
             format: 'DD/MM/YYYY HH:mm'
         });

         $('#chkIsFullDay').change(function () {
             if ($(this).is(':checked')) {
                 $('#divEndDate').hide();
             }
             else {
                 $('#divEndDate').show();
             }
         });

         function openAddEditForm() {
             if (selectedEvent != null) {
                 $('#hdEventID').val(selectedEvent.eventID);
                 $('#txtSubject').val(selectedEvent.title);
                 $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm'));
                 $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                 $('#chkIsFullDay').change();
                 $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm') : '');
                 $('#txtDescription').val(selectedEvent.description);
                 $('#ddThemeColor').val(selectedEvent.color);
             }
             $('#myModal').modal('hide');
             $('#myModalSave').modal();
         }

         $('#btnSave').click(function () {
             if ($('#txtSubject').val().trim() == "") {
                 alert('Subject required');
                 return;
             }
             if ($('#txtStart').val().trim() == "") {
                 alert('Start date required');
                 return;
             }
             if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                 alert('End date required');
                 return;
             }
             else {
                 var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm").toDate();
                 var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm").toDate();
                 if (startDate > endDate) {
                     alert('Invalid end date');
                     return;
                 }
             }

             var data = {
                 EventId: $('#hdEventID').val(),
                 Subject: $('#txtSubject').val().trim(),
                 Start: $('#txtStart').val().trim(),
                 End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                 Description: $('#txtDescription').val(),
                 ThemeColor: $('#addThemeColor').val()
             }
             SaveEvent(data);
         });

         function CheckIfAdmin() {
             $.ajax({
                 type: "GET",
                 url: '/home/IsAdmin',
                 success: function (result) {
                     isAdmin = result;
                 },
                 error: function () {
                     alert('Failed');
                 }
             });
         }

         function SaveEvent(data) {
             $.ajax({
                 type: "POST",
                 url: '/home/SaveRepairEvent',
                 data: data,
                 success: function (result) {
                     if (result) {
                         FetchEventAndRenderCalendar();
                         $('#myModalSave').modal('hide');
                     }
                 },
                 error: function () {
                     alert('Failed');
                 }
             });
         }
        });
    </script>
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 50px auto;
        }
    </style>
}