@model CallCenterService.Models.Repair

@{
    ViewData["Title"] = "Edit";
}

<h2>Edycja usterki</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="RepairId" />
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label">Opis:</label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label">Data:</label>
            <div class="col-md-10">
                <input asp-for="Date" type="datetime-local" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label">Cena:</label>
            <div class="col-md-10">
                <input asp-for="PriceDot" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PartsPrice" class="col-md-2 control-label">Cena części zew.:</label>
            <div class="col-md-10">
                <input asp-for="PartsPriceDot" class="form-control" />
                <span asp-validation-for="PartsPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Wróć</a>
</div>

