@model CallCenterService.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h2>Usuń</h2>

<h3>Na pewno chcesz to usunąć?</h3>
<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ProductID" />
        <dt>
            <span>Nazwa</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            <span>Typ</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            <a asp-action="Index">Powrót</a>
        </div>
    </form>
</div>
