@model CallCenterService.ViewModels.AddUserViewModel
<body style="background-color:powderblue;">
    <h2>Registration Page</h2>

    <form method="post" asp-controller="Account" asp-action="AddUser">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Address"></label>
            <input asp-for="Address" />
            <span asp-validation-for="Address"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <select asp-for="Role" asp-items="Model.Roles"></select>
        </div>
        <div>
            <label asp-for="Specialization"></label>
            <input asp-for="Specialization" />
            <span asp-validation-for="Specialization"></span>
        </div>
        <div><input type="submit" value="Add User" /></div>
    </form>
    </body>