@model CallCenterService.ViewModels.AddUserViewModel

<h2>Dodaj użytkownika</h2>

<form method="post" asp-controller="Account" asp-action="AddUser">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="UserName">Login:</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <br />
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <br />
    <div>
        <label asp-for="FirstName">Imię:</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <br />
    <div>
        <label asp-for="LastName">Nazwisko:</label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <br />
    @*<div>
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>*@
    <div>
        <label asp-for="Password">Hasło:</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br />
    <div>
        <label asp-for="ConfirmPassword">Potwierdź hasło:</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <br />
    <div>
        <b>Rola:</b>
        <select asp-for="Role" asp-items="Model.Roles"></select>
    </div>
    <br />
    <div>
        <label asp-for="Specialization">Specjalizacja:</label>
        <input asp-for="Specialization" />
        <span asp-validation-for="Specialization"></span>
    </div>
    <br />
    <div><input type="submit" value="Dodaj" /></div>
</form>