@model CallCenterService.ViewModels.EditUserViewModel

<h3>Edytuj użytkownika @Model.UserName</h3>
<form asp-controller="Account" asp-action="EditUser">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="UserId" type="hidden" />
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label">Email:</label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label">Imię:</label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label">Nazwisko:</label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Street" class="col-md-2 control-label">Ulica:</label>
            <div class="col-md-10">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StreetNumber" class="col-md-2 control-label">Nr ulicy:</label>
            <div class="col-md-10">
                <input asp-for="StreetNumber" class="form-control" />
                <span asp-validation-for="StreetNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApartmentNumber" class="col-md-2 control-label">Nr mieszkania:</label>
            <div class="col-md-10">
                <input asp-for="ApartmentNumber" class="form-control" />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostCode" class="col-md-2 control-label">Kod pocztowy:</label>
            <div class="col-md-10">
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label">Miasto:</label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Role" class="col-md-2 control-label">Rola:</label>
            <div class="col-md-10">
                <select asp-for="Role" asp-items="Model.Roles" class="form-control"></select>
            </div>
        </div>

        @if (Model.Role == "Serwisant")
        {
        <div>
            <label asp-for="Worktime.MondayStart">Poniedziałek: </label>
            <input asp-for="Worktime.MondayStart" />
            <input asp-for="Worktime.MondayEnd" />
        </div>
        <div>
            <label asp-for="Worktime.TuesdayStart">Wtorek: </label>
            <input asp-for="Worktime.TuesdayStart" />
            <input asp-for="Worktime.TuesdayEnd" />
        </div>
        <div>
            <label asp-for="Worktime.WednesdayStart">Środa: </label>
            <input asp-for="Worktime.WednesdayStart" />
            <input asp-for="Worktime.WednesdayEnd" />
        </div>
        <div>
            <label asp-for="Worktime.ThursdayStart">Czwartek: </label>
            <input asp-for="Worktime.ThursdayStart" />
            <input asp-for="Worktime.ThursdayEnd" />
        </div>
        <div>
            <label asp-for="Worktime.FridayStart">Piątek: </label>
            <input asp-for="Worktime.FridayStart" />
            <input asp-for="Worktime.FridayEnd" />
        </div>
        <div>
            <label asp-for="Worktime.SaturdayStart">Sobota: </label>
            <input asp-for="Worktime.SaturdayStart" />
            <input asp-for="Worktime.SaturdayEnd" />
        </div>
        <div>
            <label asp-for="Worktime.SundayStart">Niedziela: </label>
            <input asp-for="Worktime.SundayStart" />
            <input asp-for="Worktime.SundayEnd" />
        </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edytuj" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>