@model CallCenterService.ViewModels.LoginViewModel

@section head  {
    <link rel="stylesheet" href="~/css/loginPage.css">
}

@*
    <div class="container">
        <img alt="error" src="~/images/Login_Manager.png">
        <form method="post" asp-controller="Account" class="form-horizontal" asp-action="Login">
            <div class="form-group">
                <label class="control-label col-sm-2" for="username"><span class="glyphicon glyphicon-user"></span></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="UserName" placeholder="Enter Username" name="username">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password"><span class="glyphicon glyphicon-briefcase"></span></label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="Password" placeholder="Enter password" name="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" value="Zaloguj" class="btn btn-default">
                        Login
                    </button>
                </div>
            </div>

            </form>
    </div>*@
    <div class="container" id="LoginPanel">
        <img alt="error" src="~/images/logo2.png">
        <form method="post" asp-controller="Account" asp-action="Login">
            <br>
            <div class="form-group">
                <label class="control-label col-sm-2" for="username"></label>
                <input asp-for="UserName"value="Wpisz login..." onfocus="if(this.value=='' || this.value == 'Wpisz login...') this.value=''" onblur="if(this.value == '') {this.value=this.defaultValue}" onkeyup="keyUp();" type="text" />
                <br>
                <span asp-validation-for="UserName"></span>
                <br>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="password"></label>
                <input asp-for="Password" value="Wpisz hasło..." onfocus="if(this.value=='' || this.value == 'Wpisz hasło...') this.value=''" onblur="if(this.value == '') {this.value=this.defaultValue}" onkeyup="keyUp();" type="password" />
                <br>
                <span asp-validation-for="Password"></span>
                <br>

            </div>
            <div>
                <label asp-for="RememberMe">Zapamiętaj mnie:</label>
                <input asp-for="RememberMe" id="RememberMe"/>
                <span asp-validation-for="RememberMe"></span>
            </div>
            <br/>
            <div><p><input class="btn btn-light" type="submit" value="Zaloguj" /></p></div>
        </form>
    </div>