@model CallCenterService.ViewModels.LoginViewModel


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="~/css/loginView.css">
@*
    <div class="container">
        <img alt="error" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Crystal_Clear_app_Login_Manager.png">
        <form method="post" asp-controller="Account" class="form-horizontal" asp-action="Login">
            <div class="form-group">
                <label class="control-label col-sm-2" for="username"><span class="glyphicon glyphicon-user"></span></label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="UserName" placeholder="Enter Username" name="username">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password"><span class="glyphicon glyphicon-briefcase"></span></label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="Password" placeholder="Enter password" name="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" value="Zaloguj" class="btn btn-default">
                        Login
                    </button>
                </div>
            </div>

            </form>
    </div>*@


<div class="container">
    <img alt="error" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Crystal_Clear_app_Login_Manager.png">
    <form method="post" asp-controller="Account" asp-action="Login">
        <div asp-validation-summary="All" style="font-size: 30px; color: darkred"></div>

        <br>
        <div class="form-group">
            <label class="control-label col-sm-2" for="username"><span class="glyphicon glyphicon-user"></span></label>

            <label asp-for="UserName">Login:</label>
            <input asp-for="UserName" />
            <br>
            <span asp-validation-for="UserName"></span>
            <br>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="password"><span class="glyphicon glyphicon-briefcase"></span></label>

            <label asp-for="Password">Hasło:</label>
            <input asp-for="Password" />
            <br>
            <span asp-validation-for="Password"></span>
            <br>

        </div>
        <div>
            <label asp-for="RememberMe">Zapamiętaj mnie:</label>
            <input asp-for="RememberMe" />

            <span asp-validation-for="RememberMe"></span>

        </div>
        <div><p><input type="submit" value="Zaloguj" /></p></div>
    </form>
</div>
