<style>
    @@media print {
        .dontDisplay {
            display: none;
        }
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body onload="run()">

    <h3>Dokument wygenerowany przez super team GeosCallCenterMastersInformatica</h3>
    <div id="tableData">

    </div>
    <button class="dontDisplay" onclick="savePDF()">Drukuj PDF</button>
</body>
</html>

<script>
    var stringInJSON = localStorage.getItem("storageName");
    console.log(stringInJSON);
    var parsedString = JSON.parse(stringInJSON);
    function createTable(data) {
        var html = '';
        html += '<table class = "table">';
        html += '<thead>';
        html += '<tr>';
        html += '<td>';
        html += 'Cena';
        html += '</td>';
        html += '<td>';
        html += 'Cena czesci';
        html += '</td>';
        html += '<td>';
        html += 'Cena sumaryczna';
        html += '</td>';
        html += '<td>';
        html += 'Data';
        html += '</td>';
        html += '</thead>';
        html += '<tbody>';
        for (var i = 0; i < data.length; i++) {
            html += "<tr>";
            var colPrice = data[i].price;
            var colPartsPrice = data[i].partsPrice;
            var colsumPrice = data[i].sumPrice;
            var colDate = data[i].date;
            html += '<td>';
            html += colPrice;
            html += '</td>';
            html += '<td>';
            html += colPartsPrice;
            html += '</td>';
            html += '<td>';
            html += colsumPrice;
            html += '</td>';
            html += '<td>';
            html += colDate;
            html += '</td>';

            html += "</tr>";
        }
        html += '</tbody>';
        html += '</table>';
        return html;
    }
    function insertHTML(id, html) {
        var el = document.getElementById(id);

        el.innerHTML = html;
    }
    function run() {
        var html = createTable(parsedString);

        insertHTML('tableData', html);
    }
    function savePDF() {
        print();
    }
</script>