@model CallCenterService.Models.Fault

@{
    ViewData["Title"] = "Edit";
}

<h2>Edytuj usterkę</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="FaultId" />
    <input type="hidden" asp-for="ClientId" />
    <input type="hidden" asp-for="ApplicationDate" />

        <div class="form-group">
            <label asp-for="ClientDescription" class="col-md-2 control-label">Opis usterki</label>
            <div class="col-md-10">
                <input asp-for="ClientDescription" class="form-control" />
                <span asp-validation-for="ClientDescription" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>*@
        @*<div class="form-group">
            <label asp-for="ApplicationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Wróć</a>
</div>

