@model CallCenterService.Models.Client

@{
    ViewData["Title"] = "Delete";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć tego klienta?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ClientId" />
        <dt>
            Imię:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Nazwisko:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt>
            Adres:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            <a asp-action="Index">Wróć</a>
        </div>
    </form>
</div>
