@model CallCenterService.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<h2>Edytuj dane klienta</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ClientId" />
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label">Imię:</label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondName" class="col-md-2 control-label">Nazwisko:</label>
            <div class="col-md-10">
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Street" class="col-md-2 control-label">Ulica:</label>
            <div class="col-md-10">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StreetNumber" class="col-md-2 control-label">Numer domu:</label>
            <div class="col-md-10">
                <input asp-for="StreetNumber" class="form-control" />
                <span asp-validation-for="StreetNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApartmentNumber" class="col-md-2 control-label">Numer mieszkania:</label>
            <div class="col-md-10">
                <input asp-for="ApartmentNumber" class="form-control" />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostCode" class="col-md-2 control-label">Kod pocztowy:</label>
            <div class="col-md-10">
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label">Miasto:</label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Wróć</a>
</div>

