@model CallCenterService.Models.Specialization

@{
    ViewData["Title"] = "Details";
}

<h2>Szczegó³y</h2>

<div>
    <h4>Specjalizacja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Typ</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót</a>
</div>
