body {
    margin: 0 auto;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

hr, footer {
    display: none;
}

#LoginPanel {
    width: 430px;
    height: 490px;
    text-align: center;
    background-color: rgba(240,248,255, 0.4);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 10vh;
    border-radius: 5px;
}

    #LoginPanel img {
        width: 150px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    #LoginPanel input[type="text"], input[type="password"] {
        height: 45px;
        width: 300px;
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 30px;
        padding-right: 60px;
    }

    #LoginPanel span {
	position: absolute;
	left: 20px;
        font-size: 30px;
        color: black;
        margin-top: 16px;
    }

    #LoginPanel span.field-validation-error {
	position: static;
        font-size: 20px;
        color: darkred;
        margin-top: 22px;
    }

    #LoginPanel input[type="submit"] {
	background-color: white;
	border-radius: 0px;
    }

    #LoginPanel a {
        margin-right: 30px;
    }
